body {
    background-image: url('img/nck.png');
    animation: moveBg 10s infinite linear;
}

@keyframes moveBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -256px 256px;
    }
}

#cv {
    border: 1px solid #000000;
    background-color: aliceblue;
    border-radius: 20px 20px 20px 20px;
}

#sidenavi {
    float: right;
    width: 20%;
    height: 600px;
    border: dashed 1px #999;
    margin: 10px 10px 10px 0px;
    background-color: blanchedalmond;
}

#contents {
    float: left;
    width: 60%;
    height: 600px;
    margin: 10px 0px 10px 0px;
}